:root {
  --font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  --font-weight: normal;
  --primary-color: #f84;
  --primary-color-text: #000;
  --primary-color-active: #888;
  --secondary-color: #fff;
  --secondary-color-text: #000;
  --dark-color: #222;
  --dark-color-secondary: #333;
  --dark-text: #fff;
  --dark-color-soft: #333;
  --dark-color-strong: #000;
  --light-color: #eee;
  --light-color-secondary: #fff;
  --light-text: #000;
  --light-color-soft: #ddd;
  --light-color-strong: #fff;
  --success-color: #3d3;
  --error-color: #f43;
  --border-radius: 4px;
  --border-width: 1px;
  --padding-t: 0.5rem;
  --padding-r: 0.5rem;
  --padding-b: 0.5rem;
  --padding-l: 0.5rem;
  --padding: var(--padding-t) var(--padding-r) var(--padding-b) var(--padding-l);
  --margin-t: 0.5rem;
  --margin-r: 0.25rem;
  --margin-b: 0.5rem;
  --margin-l: 0.25rem;
  --margin: var(--margin-t) var(--margin-r) var(--margin-b) var(--margin-l);
  --shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

:root {
  --color-background: var(--light-color);
  --color-background-soft: var(--light-color-soft);
  --color-background-strong: var(--light-color-strong);
  --color-background-secondary: var(--light-color-secondary);
  --color-text: var(--light-text);
  --link-color: var(--primary-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--dark-color);
    --color-background-soft: var(--dark-color-soft);
    --color-background-strong: var(--dark-color-strong);
    --color-background-secondary: var(--dark-color-secondary);
    --color-text: var(--dark-text);
  }
}

/* Why this breakpoints? https://medium.freecodecamp.org/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862 */
@custom-media --tablet-portait-up (min-width: 600px);
/* Why this breakpoints? https://medium.freecodecamp.org/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862 */
@custom-media --tablet-landscape-up (min-width: 900px);
/* Why this breakpoints? https://medium.freecodecamp.org/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862 */
@custom-media --breakpoint-desktop-up (min-width: 1200px);
