:root {
  --primary-color: lightgray;
  --primary-color-text: black;
  --primary-color-active: gray;
  --secondary-color: gray;
  --border-radius: 8px;
  --border-width: 1px;
  --padding: 0.2rem 0.4rem 0.2rem 0.4rem;
}

/* Why this breakpoints? https://medium.freecodecamp.org/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862 */
@custom-media --tablet-portait-up (min-width: 600px);
/* Why this breakpoints? https://medium.freecodecamp.org/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862 */
@custom-media --tablet-landscape-up (min-width: 900px);
/* Why this breakpoints? https://medium.freecodecamp.org/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862 */
@custom-media --breakpoint-desktop-up (min-width: 1200px);
