.pulse-bg {
  animation: pulse-bg 3s infinite;
  color: #0000;
}

@keyframes pulse-bg {
  50% {
    background: var(--primary-color-active);
    opacity: .5;
  }
}

.spin {
  color: #0000;
  position: relative;

  &:after {
    content: '';
    border: 2px solid var(--color-button-text);
    border-top-color: #0000;
    border-bottom-color: #0000;
    border-radius: 100%;
    display: inline-block;
    width: .75em;
    height: .75em;
    animation: spin 2s infinite linear;
    position: absolute;
    left: calc(50% - .5em);
    top: calc(50% - .5em);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
