.loading {
  animation-name: loading;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  color: #0000;
}

@keyframes loading {
  0% {
    background: var(--primary-color);
    border-color: var(--primary-color);
  }
  50% {
    background: var(--primary-color-active);
    border-color: var(--primary-color-active);
  }
  100% {
    background: var(--primary-color);
    border-color: var(--primary-color);
  }
}
