.no-border-radius {
  border-radius: 0 !important;
}

.group,
.border-radius {
  border-radius: var(--border-radius);
  overflow: hidden;
}

.group {
  border: var(--border-width) solid var(--input-border-color);
  background: var(--input-border-color);

  &:focus-within,
  &:hover {
    border-color: var(--active-color);
  }

  > * {
    border-radius: 0 !important;
    border: 0;
  }

  > *:not(:focus-visible) {
    outline: 0;
  }
}

.bt {
  border-top: var(--border-width) solid var(--border-color);
}
.bl {
  border-left: var(--border-width) solid var(--border-color);
}
.bb {
  border-bottom: var(--border-width) solid var(--border-color);
}
.br {
  border-right: var(--border-width) solid var(--border-color);
}
