.no-border-radius {
  border-radius: 0 !important;
}

.group,
.border-radius {
  border-radius: var(--border-radius);
  overflow: hidden;
}

.group {
  border: var(--border-width) solid var(--color-input-border);
  background: var(--color-input-border);

  &:focus-within,
  &:hover {
    border-color: var(--primary-color-active);
  }

  > * {
    border-radius: 0 !important;
    outline: 0;
    border: 0;
  }
}

.bt {
  border-top: var(--border-width) solid;
}
.bl {
  border-left: var(--border-width) solid;
}
.bb {
  border-bottom: var(--border-width) solid;
}
.br {
  border-right: var(--border-width) solid;
}