.primary {
  background-color: var(--primary-color);
  color: var(--primary-color-text);
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--primary-color);
  padding: var(--padding);
  box-shadow: var(--shadow);
}

.primary-outlined {
  background-color: transparent;
  color: var(--primary-color);
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--primary-color);
  padding: var(--padding);
  box-shadow: var(--shadow);
}

.success {
  background-color: var(--success-color);
  color: black;
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--success-color);
  padding: var(--padding);
  box-shadow: var(--shadow);
}

.success-outlined {
  background-color: transparent;
  color: var(--success-color);
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--success-color);
  padding: var(--padding);
  box-shadow: var(--shadow);
}

.error {
  background-color: var(--error-color);
  color: black;
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--error-color);
  padding: var(--padding);
  box-shadow: var(--shadow);
}

.error-outlined {
  background-color: transparent;
  color: var(--error-color);
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--error-color);
  padding: var(--padding);
  box-shadow: var(--shadow);
}
