.primary {
  background-color: var(--primary-color);
  color: var(--primary-color-text);
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--primary-color);
  padding: var(--padding);
}

.primary-outlined {
  background-color: transparent;
  color: var(--primary-color);
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--primary-color);
  padding: var(--padding);
}

.primary-transparent {
  background-color: transparent;
  color: var(--primary-color);
  border: none;
  padding: var(--padding);
  box-shadow: none;
}

.secondary {
  background-color: var(--secondary-color);
  color: var(--secondary-color-text);
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--secondary-color);
  padding: var(--padding);
}

.secondary-outlined {
  background-color: transparent;
  color: var(--secondary-color);
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--secondary-color);
  padding: var(--padding);
}

.success {
  background-color: var(--success-color);
  color: black;
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--success-color);
  padding: var(--padding);
}

.success-outlined {
  background-color: transparent;
  color: var(--success-color);
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--success-color);
  padding: var(--padding);
}

.error {
  background-color: var(--error-color);
  color: black;
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--error-color);
  padding: var(--padding);
}

.error-outlined {
  background-color: transparent;
  color: var(--error-color);
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--error-color);
  padding: var(--padding);
}

.white {
  background-color: white;
  color: black;
  border-radius: var(--border-radius);
  border: var(--border-width) solid white;
  padding: var(--padding);
}

.white-outlined {
  background-color: transparent;
  color: white;
  border-radius: var(--border-radius);
  border: var(--border-width) solid white;
  padding: var(--padding);
}
