.drawer-layout {
  display: flex;
  flex-direction: row;
  position: relative;
}

.drawer-layout__input {
  display: none !important;
}

.drawer-layout__input + div {
  transition: all .3s;
  width: var(--drawer-width);
  box-sizing: border-box;
  overflow-y: auto;
}
.drawer-layout__input:first-child:checked + div {
  margin-left: calc(var(--drawer-width) * -1);
}
.drawer-layout__input:not(:first-child):checked + div {
  margin-right: calc(var(--drawer-width) * -1);
}

.drawer-layout__toggle {
  margin: auto;
  cursor: pointer;
  display: inline-block;
  padding: var(--padding);
}
.drawer-layout__toggle .bar {
  transition: .3s;
  background-color: var(--primary-color);
  margin: 1px auto;
  width: 12px;
  height: 4px;
}
.drawer-layout__toggle .bar:first-child {
  transform: rotate(-45deg);
}
.drawer-layout__toggle .bar:last-child {
  transform:  rotate(45deg);
}
.drawer-layout__input:checked + div > .drawer-layout__toggle .bar:first-child {
  transform: rotate(45deg);
}
.drawer-layout__input:checked + div > .drawer-layout__toggle .bar:last-child {
  transform: rotate(-45deg);
}
