.dropdown {
  display: inline-block;
}

.dropdown:hover > div,
.dropdown:focus-within > div {
  display: block;
}

.dropdown > div {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 0.4rem;
}

.dropdown > div > ul {
  max-height: 50vh;
  margin: var(--padding);
  overflow-y: auto;
}

.dropdown li:first-child {
  margin-top: 0;
}
.dropdown li {
  margin-top: 0.2rem;
}

.dropdown a {
  cursor: pointer;
}

@media (--tablet-landscape-up) {
  .dropdown > div {
    display: none;
    position: absolute;
    bottom: inherit;
    left: inherit;
    width: auto;
  }

  .dropdown > div > ul {
    margin: 0;
  }
}
