.dropdown {
  display: inline-block;
}

/* hover and focus-within are separated because focus-within break on IE */
.dropdown:hover .dropdown__content {
  display: flex;
}
.dropdown:focus-within .dropdown__content {
  display: flex;
}

.dropdown a {
  cursor: pointer;
}

.dropdown__content {
  display: none;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  max-height: 50vh;
  overflow-y: auto;
}

.dropdown__content > a {
  margin: var(--margin);
}

@media (--tablet-landscape-up) {
  .dropdown__content {
    position: absolute;
    bottom: inherit;
    left: inherit;
  }
}
