.dropdown {
  display: inline-block;
}

button:last-child {
  margin-right: 0;
}

.dropdown > label {
  background-color: var(--primary-color);
  color: var(--primary-color-text);
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--primary-color);
  padding: calc(var(--padding-t) / 2) var(--padding-r) calc(var(--padding-b) / 2) var(--padding-l);
  margin: 0;
  box-shadow: var(--shadow);
  cursor: pointer;
}
.dropdown > label:hover,
.dropdown > label:focus {
  border-color: var(--primary-color-active);
}
.dropdown > label:active {
  background-color: var(--primary-color-active);
  border-color: var(--primary-color-active);
  box-shadow: none;
}

.dropdown > input {
  display: none;
}
.dropdown > input:checked ~ .dropdown__content,
.dropdown:hover > button ~ .dropdown__content {
  transform: translateY(0);
}

.dropdown__content {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  right: 0;
  max-height: 50vh;
  overflow-y: auto;
  box-shadow: var(--shadow);
  background-color: var(--color-background);
  color: var(--color-text) !important;
  border: var(--border-width) solid var(--color-background);
  border-radius: var(--border-radius);
  margin: 0;
  padding: var(--padding);
  z-index: 1000;
  transition: all .3s ease;
  transform: translateY(150%);
}
.dropdown__content > * {
  margin: 0 0 1px 0;
}

@media (--tablet-landscape-up) {
  .dropdown__content {
    display: none;
    position: absolute;
    bottom: inherit;
    right: inherit;
    left: inherit;
    transform: translateY(0);
  }

  .dropdown > input:checked ~ .dropdown__content,
  .dropdown:hover > button ~ .dropdown__content,
  .dropdown > button:focus ~ .dropdown__content {
    display: flex;
  }
}
