/*
 * Size
 */

.portrait {
  max-width: 1200px;
  margin: auto !important;
  padding: var(--padding)
}

.w {
  width: 100%;
}

.h {
  height: 100%;
}

.w-margin {
  width: calc(100% - var(--margin-l) - var(--margin-r));
}

.h-margin {
  height: calc(100% - var(--margin-t) - var(--margin-b));
}

/*
 * Overflow
 */

.overflow-x {
  overflow-x: auto;
}

.overflow-y {
  overflow-y: auto;
}

/*
 * Spacing
 */

.padding {
  padding: var(--padding) !important;
}

.margin {
  margin: var(--margin) !important;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

/*
 * Position
 */

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

.align-center {
  margin-left: auto !important;
  margin-right: auto !important;
}
.align-right {
  margin-left: auto !important;
}

.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.relative {
  position: relative;
}
.static {
  position: static;
}
.sticky {
  position: sticky;
}

.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}

.float-right {
  float: right;
}
.float-left {
  float: left;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*
 * Flex
 */

.flex {
  display: flex;
  flex-direction: column;
}
@media (--tablet-landscape-up) {
  .flex {
    display: flex;
    flex-direction: row;
  }
}

.flex-auto {
  flex: auto;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}
.flex-5 {
  flex: 5;
}
.flex-6 {
  flex: 6;
}
.flex-7 {
  flex: 7;
}
.flex-8 {
  flex: 8;
}
