/*
 * Size
 */

.portrait {
  max-width: 1200px;
  margin: auto !important;
}

.w {
  width: 100%;
}

.h {
  height: 100%;
}

/*
 * Overflow
 */

.overflow-x {
  overflow-x: auto;
}

.overflow-y {
  overflow-y: auto;
}

/*
 * Spacing
 */

.m {
  margin: auto !important;
}
.m0 {
  margin: 0 !important;
}
.mx {
  margin-left: auto !important;
  margin-right: auto !important;
}
.mx0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.my {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.my0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.mt {
  margin-top: auto !important;
}
.mt0 {
  margin-top: 0 !important;
}
.mr {
  margin-right: auto !important;
}
.mr0 {
  margin-right: 0 !important;
}
.mb {
  margin-bottom: auto !important;
}
.mb0 {
  margin-bottom: 0 !important;
}
.ml {
  margin-left: auto !important;
}
.ml0 {
  margin-left: 0 !important;
}

.m1 {
  margin: var(--margin) !important;
}
.mx1 {
  margin-left: var(--margin-l) !important;
  margin-right: var(--margin-r) !important;
}
.my1 {
  margin-top: var(--margin-t) !important;
  margin-bottom: var(--margin-b) !important;
}
.mt1 {
  margin-top: var(--margin-t) !important;
}
.mr1 {
  margin-right: var(--margin-r) !important;
}
.mb1 {
  margin-bottom: var(--margin-b) !important;
}
.ml1 {
  margin-left: var(--margin-l) !important;
}

.m2 {
  margin-top: calc(var(--margin-t) * 2) !important;
  margin-right: calc(var(--margin-r) * 2) !important;
  margin-bottom: calc(var(--margin-b) * 2) !important;
  margin-left: calc(var(--margin-l) * 2) !important;
}
.mx2 {
  margin-left: calc(var(--margin-l) * 2) !important;
  margin-right: calc(var(--margin-r) * 2) !important;
}
.my2 {
  margin-top: calc(var(--margin-t) * 2) !important;
  margin-bottom: calc(var(--margin-b) * 2) !important;
}
.mt2 {
  margin-top: calc(var(--margin-t) * 2) !important;
}
.mr2 {
  margin-right: calc(var(--margin-r) * 2) !important;
}
.mb2 {
  margin-bottom: calc(var(--margin-b) * 2) !important;
}
.ml2 {
  margin-left: calc(var(--margin-l) * 2) !important;
}

.m3 {
  margin-top: calc(var(--margin-t) * 4) !important;
  margin-right: calc(var(--margin-r) * 4) !important;
  margin-bottom: calc(var(--margin-b) * 4) !important;
  margin-left: calc(var(--margin-l) * 4) !important;
}
.mx3 {
  margin-left: calc(var(--margin-l) * 4) !important;
  margin-right: calc(var(--margin-r) * 4) !important;
}
.my3 {
  margin-top: calc(var(--margin-t) * 4) !important;
  margin-bottom: calc(var(--margin-b) * 4) !important;
}
.mt3 {
  margin-top: calc(var(--margin-t) * 4) !important;
}
.mr3 {
  margin-right: calc(var(--margin-r) * 4) !important;
}
.mb3 {
  margin-bottom: calc(var(--margin-b) * 4) !important;
}
.ml3 {
  margin-left: calc(var(--margin-l) * 4) !important;
}

.p0 {
  padding: 0 !important;
}
.px0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.py0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.pt0 {
  padding-top: 0 !important;
}
.pr0 {
  padding-right: 0 !important;
}
.pb0 {
  padding-bottom: 0 !important;
}
.pl0 {
  padding-left: 0 !important;
}

.p1 {
  padding: var(--padding) !important;
}
.px1 {
  padding-left: var(--padding-l) !important;
  padding-right: var(--padding-r) !important;
}
.py1 {
  padding-top: var(--padding-t) !important;
  padding-bottom: var(--padding-b) !important;
}
.pt1 {
  padding-top: var(--padding-t) !important;
}
.pr1 {
  padding-right: var(--padding-r) !important;
}
.pb1 {
  padding-bottom: var(--padding-b) !important;
}
.pl1 {
  padding-left: var(--padding-l) !important;
}

.p2 {
  padding-top: calc(var(--padding-t) * 2) !important;
  padding-right: calc(var(--padding-r) * 2) !important;
  padding-bottom: calc(var(--padding-b) * 2) !important;
  padding-left: calc(var(--padding-l) * 2) !important;
}
.px2 {
  padding-left: calc(var(--padding-l) * 2) !important;
  padding-right: calc(var(--padding-r) * 2) !important;
}
.py2 {
  padding-top: calc(var(--padding-t) * 2) !important;
  padding-bottom: calc(var(--padding-b) * 2) !important;
}
.pt2 {
  padding-top: calc(var(--padding-t) * 2) !important;
}
.pr2 {
  padding-right: calc(var(--padding-r) * 2) !important;
}
.pb2 {
  padding-bottom: calc(var(--padding-b) * 2) !important;
}
.pl2 {
  padding-left: calc(var(--padding-l) * 2) !important;
}

.p3 {
  padding-top: calc(var(--padding-t) * 4) !important;
  padding-right: calc(var(--padding-r) * 4) !important;
  padding-bottom: calc(var(--padding-b) * 4) !important;
  padding-left: calc(var(--padding-l) * 4) !important;
}
.px3 {
  padding-left: calc(var(--padding-l) * 4) !important;
  padding-right: calc(var(--padding-r) * 4) !important;
}
.py3 {
  padding-top: calc(var(--padding-t) * 4) !important;
  padding-bottom: calc(var(--padding-b) * 4) !important;
}
.pt3 {
  padding-top: calc(var(--padding-t) * 4) !important;
}
.pr3 {
  padding-right: calc(var(--padding-r) * 4) !important;
}
.pb3 {
  padding-bottom: calc(var(--padding-b) * 3) !important;
}
.pl3 {
  padding-left: calc(var(--padding-l) * 3) !important;
}

/*
 * Position
 */

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.relative {
  position: relative;
}
.static {
  position: static;
}
.sticky {
  position: sticky;
}

.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}

.float-right {
  float: right;
}
.float-left {
  float: left;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*
 * Flex
 */

.flex {
  display: flex;
  flex-direction: column;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

@media (--tablet-landscape-up) {
  .flex {
    flex-direction: row;
  }
}

.flex-auto {
  flex: auto;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}
.flex-5 {
  flex: 5;
}
.flex-6 {
  flex: 6;
}
.flex-7 {
  flex: 7;
}
.flex-8 {
  flex: 8;
}
