.drawer-layout {
  display: flex;
  flex-direction: row;
}

.drawer-layout__input + div {
  transition: 1s all;
  display: flex;
}
.drawer-layout__input:checked + div {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}
@media (--tablet-landscape-up) {
  .drawer-layout__input:checked + div {
    position: inherit;
  }
}

.drawer-layout__input + div > div {
  display: none;
  flex: auto;
  overflow-y: auto;
}
.drawer-layout__input:checked + div > div {
  display: block;
}

.drawer-layout__toggle {
  margin: auto;
  cursor: pointer;
}
.drawer-layout__toggle .bar {
  transition: .3s;
  background-color: var(--primary-color);
  margin: 2px auto;
  width: 10px;
}
.drawer-layout__toggle .bar:first-child {
  transform: rotate(45deg);
}
.drawer-layout__toggle .bar:last-child {
  transform:  rotate(-45deg);
}
.drawer-layout__input:checked + div > .drawer-layout__toggle .bar:first-child {
  transform: rotate(-45deg);
}
.drawer-layout__input:checked + div > .drawer-layout__toggle .bar:last-child {
  transform: rotate(45deg);
}
