.accordion {
  /* Hidden visually, still focusable and announced. */
  > input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    border: 0;
    opacity: 0;
    overflow: hidden;
    appearance: none;
  }

  &:has(> input:focus-visible) {
    outline: var(--g-outline);
  }

  > label {
    display: block;
  }

  > div {
    max-height: 80vh;
    transition: all var(--g-transition-duration);
    overflow: auto;
  }

  > input:not(:checked) ~ div {
    height: 0 !important;
    max-height: 0;
    opacity: 0;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    visibility: collapse;
  }
}
