.accordion > input {
  display: none;
}

.accordion > div {
  max-height: 80vh;
  transition: all .3s;
  overflow: auto;
}

.accordion > input:not(:checked) ~ div {
  height: 0 !important;
  max-height: 0;
  opacity: 0;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
