.drawer-layout {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;

  > input {
    /* Hidden visually, still focusable and announced. */
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    border: 0;
    opacity: 0;
    overflow: hidden;
    appearance: none;

    + div {
      > div {
        transition: all var(--transition-duration);
        box-sizing: border-box;
        overflow-y: auto;
        max-height: 100%;
        position: absolute;
        left: 0;
        right: 0;
      }
      > label {
        margin: auto;
        cursor: pointer;
        display: inline-block;
        padding: var(--padding);

        &:after {
          content: '';
          display: block;
          width: var(--arrow-width);
          height: var(--arrow-width);
          background: var(--primary-color);
          mask: var(--arrow-image) no-repeat center / var(--arrow-width) var(--arrow-height);
          transform: rotate(90deg);
          transition: transform var(--transition-duration);
        }
      }
    }
    &:focus-visible + div > label {
      outline: var(--outline);
    }
    &:first-child:checked + div > div {
      right: 100%;
      left: -100%;
    }
    &:not(:first-child):checked + div > div {
      left: 100%;
      right: -100%;
    }
    &:checked + div > label:after {
      transform: rotate(-90deg);
    }
  }
}


@media (width >= 600px) {
  .drawer-layout > input {
    + div > div {
      position: static;
      width: var(--drawer-width);
    }
    &:first-child:checked + div > div {
      margin-left: calc(var(--drawer-width) * -1);
    }
    &:not(:first-child):checked + div > div {
      margin-right: calc(var(--drawer-width) * -1);
    }
  }
}
