.dropdown {
  position: relative;

  > :has(+ div):after {
    content: '';
    width: .3em;
    height: .3em;
    border-right: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(45deg);
    margin: .25em .25em .25em .5em;
    transition: all .3s;
    display: inline-block;
  }
  > input:checked ~ label:after {
    transform: translateY(.2em) rotate(-135deg);
  }

  > input,
  > div ~ button {
    display: none;
  }

  > div {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-width: 10em;
    overflow-y: auto;
    box-shadow: var(--shadow);
    backdrop-filter: blur(99px);
    border-radius: var(--border-radius);
    z-index: 1000;
    transition: all .3s ease;
  }
}

@media (max-width: 900px) {
  .dropdown:not(.-desktop) {
    > div {
      max-height: 100%;
      position: fixed;
      bottom: -100vh;
      left: 0;
      right: 0;
      padding-bottom: 3em !important;
      pointer-events: none;
    }

    > input:checked ~ div,
    > :is(button, span, a):hover ~ *,
    > :is(button, span, a) ~ div:hover {
      bottom: 0;
      pointer-events: auto;
    }
    &:before,
    &:after,
    label:before {
      content: '';
      position: fixed;
      transition: bottom .2s .1s;
      bottom: -100vh;
      right: 0;
      left: 0;
      z-index: 1001;
      height: 3em;
    }
    &:has(> :is(button, span, a):hover, > :is(button, span, a) + div:hover):before,
    > input:checked ~ label:before {
      bottom: 0;
      backdrop-filter: blur(3px);
    }
    &:has(> input:checked, > :is(button, span, a):hover, > :is(button, span, a) + div:hover):after {
      width: .5em;
      height: .5em;
      border-right: 2px solid;
      border-bottom: 2px solid;
      transform: rotate(45deg);
      margin: 1.25em auto;
      bottom: 0;
      pointer-events: none;
    }
  }

  .dropdown.-desktop {
    > :has(+ div) {
      font-weight: bold;
      background: none;
      color: var(--color-header-text) !important;
      border: 0;
      padding: 0;

      &:after {
        display: none;
      }
    }

    > div {
      box-shadow: none;
      border: none !important;
      max-height: none;
      backdrop-filter: none;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}

@media (min-width: 900px) {
  .dropdown:not(.-mobile) > div {
    display: none;
    position: absolute;
    right: inherit;
    left: inherit;
    max-height: 60vh;
  }

  .dropdown {
    > input:checked ~ div,
    &:hover > :not(input, label) ~ div,
    &:focus-within > :is(button, span, a) ~ div {
      display: flex;
      top: 100%;
    }
  }

  .dropdown.-mobile {
    > :has(+ div) {
      font-weight: bold;
      background: none;
      color: var(--color-header-text) !important;
      border: 0;
      padding: 0;

      &:after {
        display: none;
      }
    }

    > div {
      box-shadow: none !important;
      border: none !important;
      max-height: none;
      backdrop-filter: none;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}
