.dropdown {
  position: relative;

  > :is(label, button:first-child) {
    background: none;
    color: inherit;
    border: none;
    font-weight: normal;
    padding: 0;

    &:after {
      content: '';
      float: right;
      width: .4em;
      height: .4em;
      border-right: 2px solid var(--color-text);
      border-bottom: 2px solid var(--color-text);
      transform: rotate(45deg);
      margin: .25em .25em .25em .5em;
      transition: all .3s;
    }
  }
  > input:checked ~ label:after {
    transform: translateY(.2em) rotate(-135deg);
  }

  > input,
  > div ~ button {
    display: none;
  }

  > div {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-width: 10em;
    overflow-y: auto;
    box-shadow: var(--shadow);
    backdrop-filter: blur(99px);
    border-radius: var(--border-radius);
    z-index: 1000;
    transition: all .3s ease;
  }
}

@media (max-width: 900px) {
  .dropdown:not(.-desktop) {
    > div {
      max-height: 100%;
      position: fixed;
      bottom: -100vh;
      left: 0;
      right: 0;
      padding-bottom: 3em !important;
      pointer-events: none;
    }

    > input:checked ~ div,
    > button:hover ~ *,
    > button ~ div:hover,
    > div:hover ~ button {
      bottom: 0;
      pointer-events: auto;
    }
    &:before,
    &:after,
    label:before {
      content: '';
      position: fixed;
      transition: bottom .2s .1s;
      bottom: -100vh;
      right: 0;
      left: 0;
      z-index: 1001;
      height: 3em;
    }
    &:has(:is(button:first-child, button ~ div):hover):before,
    > input:checked ~ label:before {
      bottom: 0;
      backdrop-filter: blur(3px);
    }
    &:has(:is(button:first-child, button ~ div):hover, input:checked):after {
      width: .5em;
      height: .5em;
      border-right: 2px solid var(--color-text);
      border-bottom: 2px solid var(--color-text);
      transform: rotate(45deg);
      margin: 1.25em auto;
      bottom: 0;
      pointer-events: none;
    }
    > div ~ button {
      display: block;
      position: fixed;
      bottom: -100vh;
      right: 0;
      left: 0;
      z-index: 1002;
      transition: all .3s ease;
    }
  }

  .dropdown.-desktop {
    > label,
    > button {
      font-weight: bold;
    }
    > :is(label, button):after {
      display: none;
    }
    > div {
      box-shadow: none;
      border: none !important;
      max-height: none;
      backdrop-filter: none;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}

@media (min-width: 900px) {
  .dropdown:not(.-mobile) > div {
    display: none;
    position: absolute;
    right: inherit;
    left: inherit;
    max-height: 60vh;
  }

  .dropdown {
    > input:checked ~ div,
    &:hover > button ~ div,
    &:focus-within > button ~ div {
      display: flex;
    }
  }

  .dropdown.-mobile {
    > :is(label, button) {
      font-weight: bold;

      &:after {
        display: none;
      }
    }

    > div {
      box-shadow: none !important;
      border: none !important;
      max-height: none;
      backdrop-filter: none;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}
