.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown > label,
.dropdown > button {
  width: 100%;
  background: none;
  text-align: left;
  color: inherit;
  border: none;
  font-weight: normal;
  padding: 0;
}

.dropdown > div::after {
  content: '.';
  color: #0000;
  width: .5em;
  height: .5em;
  border-right: 2px solid var(--color-text);
  border-bottom: 2px solid var(--color-text);
  transform: rotate(45deg);
  display: block;
  margin: .5em auto;
  position: sticky;
  bottom: 1em;
  right: 0;
  left: 0;
}
.dropdown:hover::before,
.dropdown > input:checked ~ label::before {
  content: '';
  width: 4em;
  height: 2.5em;
  margin: auto;
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1001;
}
.dropdown > label::after,
.dropdown > button::after {
  content: '';
  width: .4em;
  height: .4em;
  border-right: 2px solid var(--color-text);
  border-bottom: 2px solid var(--color-text);
  transform: rotate(45deg);
  margin: .25em .25em 0 .5em;
  float: right;
}

.dropdown > input {
  display: none;
}
.dropdown > input:checked ~ div,
.dropdown > button:hover ~ div,
.dropdown > button ~ div:hover {
  transform: translateY(0);
}

.dropdown > div {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 75vh;
  overflow-y: auto;
  box-shadow: var(--shadow);
  background: var(--color-fg);
  border-radius: var(--border-radius);
  z-index: 1000;
  transition: all .3s ease;
  transform: translateY(150%);
  white-space: nowrap;
}

@media (max-width: 900px) {
  .dropdown > div {
    padding-bottom: 0 !important;
  }
}

@media (min-width: 900px) {
  .dropdown > div {
    display: none;
    position: absolute;
    bottom: inherit;
    right: inherit;
    left: inherit;
    transform: translateY(0);
  }

  .dropdown > input:checked ~ div,
  .dropdown:hover > button ~ div,
  .dropdown > button:focus ~ div {
    display: flex;
  }

  .dropdown > div::after,
  .dropdown::before,
  .dropdown > label::before {
    display: none;
  }
}
