.modal {
  position: fixed;
  inset: 0;
  display: flex;
  z-index: var(--modal-z);
  backdrop-filter: blur(3px);

  > div {
    background: var(--fg-color);
    z-index: calc(var(--modal-z) + 1);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    margin: auto;
    max-height: 80%;
    overflow-y: auto;
  }
}
