.tabs {
  display: flex;
}
.tabs > * {
  margin: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: none;
  box-shadow: none;
}
.tabs > .active {
  color: inherit;
  border-bottom: none;
}
.tabs > .active:hover {
  border-color: #0000;
}
.tabs__content {
  margin-top: 0;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
