.tabs {
  display: flex;

  & > .active {
    background: var(--primary-color-active);
    border-bottom: none;

    &:hover {
      border-color: #0000;
    }
  }
}
.tabs > * {
  margin: 0;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border: 0;
}
.tabs__content {
  margin-top: 0;
  border-top: none;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
