body {
  font-family: var(--g-font-family);
  font-weight: var(--g-font-weight);
  font-size: var(--g-font-size);
  line-height: var(--g-line-height);
  margin: 0;
  padding: 0;
  background: var(--g-bg);
  color: var(--g-bg-contrast);

  &:has(nav > input[type="checkbox"]:checked, .modal) {
    overflow: hidden;
  }
}
