button {
  background-color: var(--primary-color);
  color: var(--primary-color-text);
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--primary-color);
  padding: calc(var(--padding-t) / 2) var(--padding-r) calc(var(--padding-b) / 2) var(--padding-l);
  margin: var(--margin);
  box-shadow: var(--shadow);
  cursor: pointer;
  font-weight: inherit;
  font-size: 1em;
  font-family: inherit;
  line-height: 1;
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}

button:enabled:hover,
button:enabled:focus {
  border-color: var(--primary-color-active);
}

button:enabled:active {
  background-color: var(--primary-color-active);
  border-color: var(--primary-color-active);
  box-shadow: none;
}

button:first-child {
  margin-left: 0;
}
button:last-child {
  margin-right: 0;
}
