button {
  background: var(--button-bg-color);
  color: var(--button-text-color);
  border-color: var(--button-border-color);
  font-weight: bold;

  &:active {
    background: var(--active-color);
    border-color: var(--active-color);
  }
}
