button {
  background: var(--g-button-bg);
  color: var(--g-button-color);
  border-color: var(--g-button-border-color);
  font-weight: bold;

  &:active {
    background: var(--g-active);
    color: var(--g-active-contrast);
    border-color: var(--g-active);
  }
}
