button,
input,
textarea,
select {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  border-width: var(--border-width);
  border-style: solid;
  border-radius: var(--border-radius);
  padding: var(--padding-input);
  box-sizing: border-box;
}
input,
textarea,
select {
  background-color: var(--color-input);
  color: var(--color-text);
  border-color: var(--color-input-border);
}
button:hover,
button:focus,
input:hover,
input:focus
textarea:hover,
textarea:focus,
select:hover,
select:focus {
  border-color: var(--primary-color-active);
}

*:disabled {
  opacity: 0.5;
  cursor: default;
}