button,
input,
textarea,
select {
  font-weight: inherit;
  font-size: inherit;
  line-height: var(--line-height);
  font-family: inherit;
  border-width: var(--border-width);
  border-style: solid;
  border-radius: var(--border-radius);
  padding: var(--padding-input);
  box-sizing: border-box;

  &:hover {
    border-color: var(--active-color);
  }
}
input,
textarea,
select {
  background: var(--input-bg-color);
  color: var(--input-text-color);
  border-color: var(--input-border-color);
}

input[type="date"] {
  line-height: calc(var(--line-height) - .125);
}

*:disabled {
  opacity: 0.5;
  cursor: default;
  background: var(--muted-color);
  border-color: var(--muted-color);
  color: var(--muted-text-color);
}

hr {
  border: 0;
  border-top: var(--border-width) solid var(--border-color);
  margin: 0;
}

:focus-visible {
  outline: var(--outline);
}
