input {
  background-color: white;
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--primary-color);
  padding: var(--padding);
  display: block;
}

label {
  display: inline-block;
}
