input {
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--primary-color-text);
  padding: var(--padding);
  margin: var(--margin);
}
input:hover,
input:focus {
  border-color: var(--primary-color-active);
}

input[type='checkbox'] {
  display: none
}
input[type='checkbox'] ~ span {
  border: var(--border-width) solid var(--primary-color);
  border-radius: var(--border-radius);
  height: 1rem;
  width: 1rem;
  display: inline-block;
  box-shadow: var(--shadow);
  margin-top: 0.1rem;
}
input[type='checkbox']:hover ~ span {
  border-color: var(--primary-color-active);
}
input[type='checkbox']:active ~ span {
  box-shadow: none;
}
input[type='checkbox']:checked ~ span {
  background: var(--primary-color-active);
}

input[type='file'] {
  background-color: var(--primary-color);
  color: var(--primary-color-text);
  box-shadow: var(--shadow);
}

input[type='color'] {
  padding: 0;
}

.label__checkbox {
  display: inline;
}

.label__file {
  width: 250px;
  height: 140px;
  background-color: var(--primary-color);
  color: var(--primary-color-text);
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--primary-color);
  box-shadow: var(--shadow);
  text-align: center;
  display: flex;
  justify-content: center;
}
.label__file:hover {
  border-color: var(--primary-color-active);
}
.label__file > input[type='file'] {
  position: absolute;
  width: 250px;
  height: 140px;
  opacity: 0;
  margin: 0;
  padding: 0;
}

.label__file--button {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--primary-color-text);
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--primary-color);
  padding: var(--padding);
  margin: var(--margin);
  box-shadow: var(--shadow);
  cursor: pointer;
}
.label__file--button:hover,
.label__file--button:focus {
  border-color: var(--primary-color-active);
}
.label__file--button:active {
  background-color: var(--primary-color-active);
  border-color: var(--primary-color-active);
  box-shadow: none;
}
.label__file--button > input[type='file'] {
  display: none;
}

label {
  display: flex;
  flex-direction: column;
  margin: var(--margin);
  margin-bottom: 0;
}

label > input, textarea {
  margin-left: 0;
  margin-right: 0;
}

form {
  padding-top: var(--margin-t);
  padding-bottom: var(--margin-b);
}
