a {
  text-decoration: none;
  color: var(--link-color);
  cursor: pointer;
}

a:hover {
  color: var(--primary-color-active);
}

a:active {
  color: var(--primary-color-active);
}

a:focus {
  text-decoration: underline;
}
