ul, ol {
  padding-left: 1em;
}

.breadcrumb {
  padding: 0;

  > li {
    display: inline;

    &:not(:last-child):after {
      content: '';
      width: .3em;
      height: .3em;
      border-right: 2px solid var(--g-muted);
      border-bottom: 2px solid var(--g-muted);
      transform: rotate(-45deg);
      margin: .125em .5em;
      display: inline-block;
    }

    a {
      color: inherit;
    }
  }
}
