nav {
  background: var(--color-bg);
  color: var(--color-text);
  display: flex;
  z-index: 100;
  position: relative;

  & > .content {
    background: inherit;
    z-index: 100;
  }

  & > .content a {
    color: inherit;
  }
}
#nav-toggle {
  display: none;
}

@media (max-width:900px) {
  nav {
    & > .content {
      position: fixed;
      top: 100%;
      left: 0;
      right: 0;
      bottom: 0;
      overflow-y: auto;
      transition: 0.3s;
      padding: inherit;
    }
    & > .content > * {
      display: block;
      padding-bottom: 1em;
      margin-bottom: 1em;
      border-bottom: 1px solid #aaa3;
    }

    & > .toggle {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      z-index: 101;
      padding: inherit;
    }
    & > .toggle > div {
      width: 20px;
      height: 2px;
      background: var(--color-text);
      transition: all .2s;
    }
    & > .toggle > div:nth-child(2) {
      margin: 4px 0;
    }
  }

  #nav-toggle {
    &:checked {
      & ~ .content {
        top: 0;
      }
      & ~ .toggle > div:first-child {
        transform: translateY(1px) rotate(45deg);
      }
      & ~ .toggle > div:nth-child(2):not(:last-child) {
        opacity: 0;
        position: absolute;
      }
      & ~ .toggle > div:last-child {
        transform: translateY(-1px) rotate(-45deg);
      }
    }
  }
}

@media (min-width: 900px) {
  nav {
    & > .content > * {
      margin-left: 1rem;
    }
    & > .toggle {
      display: none;
    }
  }
}
