nav {
  background-color: var(--primary-color);
  height: 48px;
  display: flex;
  z-index: 100;
}
nav > a,
nav > .content > a {
  color: inherit;
}

nav > .content {
  background-color: inherit;
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  transition: 0.3s;
  z-index: 100;
}
nav > .content > *,
nav > .content > .dropdown > button {
  display: block;
  padding: .5rem 1rem;
}

nav > .toggle {
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 101;
  margin: 0;
  padding: 14px;
}
nav > .toggle > div {
  width: 16px;
  height: 2px;
  margin: 4px;
  background-color: var(--secondary-color);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#nav-toggle {
  display: none;
}
#nav-toggle:checked ~ .content {
    bottom: 0;
}

@media (min-width: 900px) {
  nav > .content {
    display: flex;
    align-items: center;
    position: static;
    flex: auto;
    margin: 0 .5rem;
    transition: 0s;
  }
  nav > .content > *,
  nav > .content > .dropdown > button {
    display: inline-block;
    padding: var(--padding);
  }
  nav > .toggle {
    display: none;
  }
}
