progress {
  height: 8px;
  background: var(--secondary-color);
  border-radius: 16px;
  border: var(--border-width) solid var(--secondary-color);
  overflow: hidden;
  animation: pulse-bg 3s infinite;
}

progress::-webkit-progress-value {
  background: var(--primary-color);
}
