select {
  background-color: var(----color-button);
  color: var(--primary-color-text);
  appearance: none;
  box-shadow: var(--shadow);
}
select:hover,
select:focus {
  border-color: var(--primary-color-active);
}
select:last-child {
  margin-right: 0;
}