select {
  background-color: var(--primary-color);
  color: var(--primary-color-text);
  appearance: none;
}
select:hover,
select:focus {
  border-color: var(--primary-color-active);
}
select:last-child {
  margin-right: 0;
}