select {
  background-color: var(--primary-color);
  color: var(--primary-color-text);
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--primary-color);
  padding: calc(var(--padding-t) / 2 - 1px) var(--padding-r) calc(var(--padding-b) / 2 - 1px) var(--padding-l);
  margin-right: var(--margin-r);
  margin-top: var(--margin-t);
  margin-bottom: var(--margin-b);
  box-shadow: var(--shadow);
  font-size: 1em;
  font-family: inherit;
}
select:hover,
select:focus {
  border-color: var(--primary-color-active);
}
select:last-child {
  margin-right: 0;
}