table {
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--primary-color);
  border-collapse: collapse;
  box-shadow: var(--shadow);
  table-layout: fixed;
  margin: var(--margin);
}

th {
  border-bottom: var(--border-width) solid var(--primary-color);
}

tr,
th,
td {
  padding: var(--padding);
}

tr:nth-child(even) {
  background-color: rgba(128, 128, 128, 0.2);
}
tr:hover {
  background-color: var(--primary-color-active);
}
