table {
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--primary-color);
  border-collapse: collapse;
  box-shadow: var(--shadow);
}

tr,
th,
td {
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--primary-color);
  padding: var(--padding);
}

tr:nth-child(even) {
  background-color: whitesmoke;
}
tr:hover {
  background-color: var(--primary-color-active);
}
