table {
  border-collapse: collapse;
  border-radius: var(--border-radius);
  table-layout: fixed;

  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

th {
  border-bottom: var(--border-width) solid rgba(128, 128, 128, 0.2);
}

tr,
th,
td {
  padding: var(--padding);
}

tr {
  &:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.2);
  }
  &:hover {
    background-color: rgba(128, 128, 128, 0.4);
  }
}
